{% extends 'base.html.twig' %}

{% block body %}

    <h1>Posty</h1>
    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>


    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">{{ task.title }}
                <small style="float: right">
                    <ul style="float: right; display: inline">
                        <li>
                            <a href="{{ path('tasks_index') }}">Powrót do listy</a>
                        </li>
                        <li>
                            <a href="{{ path('tasks_edit', { 'id': task.id }) }}">Edycja</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Usuń">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul></small>
                <small style="float: right">{{ task.posted|date('Y-m-d H:i:s') }}</small>



            </h4>

            {#<a href="{{ path('tasks_show', { 'id': task.id }) }}">{{ task.id }}</a>#}
            <br/>


            <p style="text-align: justify">{{ task.description }}</p>

        </div>
    </div>





{% endblock %}
