{% extends 'base.html.twig' %}

{% block body %}

    <h1>Lista zdjęć</h1>
    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a><br/>
    <a href="{{ path('panel_index') }}">Panel</a>
    <br/> <br/>

        {% for image in images %}

            <div class="media">
                <a class="pull-left">
                    <img class="media-object" src="{{ path('file_show', { 'filename': image.filename }) }}" width="128px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Opis: {{ image.description }}

                        <small style="float: right">
                            <ul style="float: right; display: inline">
                                <ul>
                                    <li>
                                        <a href="{{ path('image_show', { 'id': image.id }) }}">Pokaż</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('image_edit', { 'id': image.id }) }}">Edycja</a>
                                    </li>
                                </ul>
                            </ul></small>

                        <small style="float: right">
                        <ul>
                            <ul>
                                <li>
                                    Album: {{ image.album }}
                                </li>
                                <li>
                                    Typ obrazka: {{ image.mime }}
                                </li>
                            </ul>
                        </ul></small>



                    </h4><small style="float: left">Nazwa obrazka: {{ image.filename }}</small>

                </div>
            </div>







        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('image_new') }}">Dodaj nowe zdjęcie</a>
        </li>
    </ul>
{% endblock %}
